@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #88ADD0;
  --foreground: #171717;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/inter/v3/U4UJrUEJq6VrC3S2lQEjvZbd9NUM7f4.woff2') format('woff2');
  }
}

@layer base {
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/nunito/v16/XqVU3e9PnpM7J0j1sIbNjROd3hzP.woff2') format('woff2');
  }
}

.btn-blue {
  @apply
  uppercase
  text-center
  bg-sd-blue
  text-white
  rounded-lg
  w-52
  py-2
  px-4
  my-3
  cursor-pointer
}

.btn-red {
  @apply
  uppercase
  text-center
  bg-sd-red
  text-white
  rounded-lg
  w-52
  py-2
  px-4
  my-3
  cursor-pointer
}

.label {
  @apply
  uppercase
  block
  text-gray-700
  text-base
  font-bold
  md:text-right
  mb-1
  md:mb-0
  pr-4
}

.input {
  @apply
bg-gray-200
appearance-none
border-2
border-gray-200
rounded
w-full
py-2
px-4
text-gray-700
leading-tight
focus:outline-none
focus:bg-white
focus:border-sd-blue
}

.table-data {
  @apply
  px-4
  py-2
}