services:
  screendrafts.seeding.movies:
    build:
      context: .
      dockerfile: tools/ScreenDrafts.Seeding.Movies/Dockerfile
    depends_on:
      - screendrafts.database
    networks:
      - screendrafts
    volumes:
      - ./data:/app/data
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DATA_PATH=/app/data
      - ConnectionStrings__Database=Host=screendrafts.database;Port=5432;Database=screendrafts;Username=postgres;Password=postgres;Include Error Detail=true
    profiles: ["manual"]

  screendrafts.seeding.drafts:
    build:
      context: .
      dockerfile: tools/ScreenDrafts.Seeding.Drafts/Dockerfile
    depends_on:
      - screendrafts.database
    volumes:
      - ./data:/app/data
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DATA_PATH=/app/data
      - ConnectionStrings__Database=Host=screendrafts.database;Port=5432;Database=screendrafts;Username=postgres;Password=postgres;Include Error Detail=true
    profiles: ["manual"]
    networks:
      - screendrafts

networks:
  screendrafts:
    external: true
